### Try B1ackOS
menuentry "Live B1ackOS" --hotkey=t {
	linux	/live/vmlinuz-7.0.7+deb14-amd64 boot=live live-config.user-fullname="LIVE" components quiet findiso=${iso_path}
	initrd	/live/initrd.img-7.0.7+deb14-amd64
}
