### Try B1ackOS
menuentry "Live B1ackOS" --hotkey=t {
	linux	/live/vmlinuz-6.1.0-50-686-pae boot=live live-config.user-fullname="LIVE" components quiet findiso=${iso_path}
	initrd	/live/initrd.img-6.1.0-50-686-pae
}
